<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>All Posts</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<header>
<h1>Community Posts</h1>
<a href="/" class="home-link">Back to Home</a>
</header>

<main class="posts-container">
<%  for(let i = 0; i < posts.length; i++) { %>


<div class="post-card">
<h3>@ <%= posts[i].username %></h3>
<p class="content"><%=posts[i].content %></p>
<p class="mood"><%=posts[i].mood %></p>
<p class="likes">❤️<%=posts[i].likes %></p>
</div>
<% } %>

</main>

</body>
</html>
